.contact-container {
  padding: 1rem;
  padding-top: 5rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-gap);
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)),
    url(../../assets/whereabouts.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.contact-container > .paraHeader {
  font-size: var(--fs-h1);
}

.contact-container > .mapContainer {
  width: 100%;
}

.contact-container > .mapContainer > iframe {
  width: 100%;
  min-height: 30rem;
  border: none;
  outline: none;
}

.contact-container > .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: var(--fs-m-dish);
  gap: var(--main-gap);
  padding: 1.5rem;
  background-color: var(--main-color-transparent);
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);
  min-height: 100%;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .contact-container > .mapContainer,
  .contact-container > .contact-info {
    width: 80%;
  }
  .contact-container > .contact-info {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}
