*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--main-color);
  color: white;
}

:root {
  --main-color: #fbbf24;
  --main-color-transparent: rgba(251, 190, 36, 0.5);
  --fs-h1: clamp(1.4rem, 1.4rem + 3vw, 4rem);
  --fs-h2: calc(var(--fs-h1) * 0.8);
  --fs-h3: calc(var(--fs-h1) * 0.5);
  --fs-m-dish: calc(var(--fs-h1) * 0.4);
  --fs-m-ingredients: calc(var(--fs-h1) * 0.3);
  --fs-nav: clamp(0.75rem, 0.75rem + 3vw, 1.75rem);
  --fs-nav-hover: calc(var(--fs-nav) * 1.2);
  --main-gap: 1rem;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  flex-grow: 1;
  font-family: sans-serif;
}

.container {
  padding: 1rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--main-gap);
  color: var(--main-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.227), rgba(0, 0, 0, 0.2)),
    url(../../assets/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.container > h1,
.container > h2 {
  font-size: var(--fs-h1);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.container > h2 {
  font-size: var(--fs-h2);
  -webkit-text-stroke-width: 1px;
}
